{% extends "base.html" %}

{% block content %}
<h1>Список курьеров:</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Тип курьера</th>
            <th>Регионы работы</th>
            <th>Время работы</th>
        </tr>
    </thead>
    <tbody>
        {% for courier in data[0] %}
        <tr>
            <td><a href="/patch_couriers/{{courier.courier_id}}">{{courier.courier_id}}</a></td>
            <td><a href="/patch_couriers/{{courier.courier_id}}">{{courier.courier_type}}</a></td>
            <td><a href="/patch_couriers/{{courier.courier_id}}">{{courier.regions}}</a></td>
            <td><a href="/patch_couriers/{{courier.courier_id}}">{{' '.join(courier.working_hours)}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/post_couriers" class="btn btn-primary">Добавить курьера</a>
<h1>Список заказов:</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Вес</th>
            <th>Регион доставки</th>
            <th>Время доставки</th>
        </tr>
    </thead>
    <tbody>
        {% for order in data[1] %}
        <tr>
            <td><a href="/get_orders/{{order.order_id}}">{{order.order_id}}</a></td>
            <td><a href="/get_orders/{{order.order_id}}">{{order.weight}}</a></td>
            <td><a href="/get_orders/{{order.order_id}}">{{order.region}}</a></td>
            <td><a href="/get_orders/{{order.order_id}}">{{' '.join(order.delivery_hours)}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/post_orders" class="btn btn-primary">Добавить заказ</a>
<div id="zatemnenie">
      <div id="okno">
          id:{{data[0][0].courier_id}}<br>
          <a href="#" class="btn btn-primary">Закрыть окно</a>
      </div>
</div>
{% endblock %}