{% extends "base.html" %}

{% block content %}
<h1>Добавление заказов</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }}<br>
        {{ form.id(class="form-control") }}<br>
        {% for error in form.id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.weight.label }}<br>
        {{ form.weight(class="form-control") }}<br>
        {% for error in form.weight.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.region.label }}<br>
        {{ form.region(class="form-control") }}<br>
        {% for error in form.region.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.delivery_hours.label }}<br>
        {{ form.delivery_hours(class="form-control") }}<br>
        {% for error in form.delivery_hours.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
    {{message}}
</form>
{% endblock %}